@model NeoForum.Models.Article

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="main__title">Обзор</h2>

<div class="articles-list">
    <div>
        <h2 class="section-title">@Model.Title</h2>
        <p>Категория:</p>
        <p>@Model.Categories</p>
        <textarea class="txta" style="resize:none; min-height:300px; width:100%;" disabled>@Model.Text</textarea>
        <div class="container__name__time__details">
            <div>
                <p>Автор:</p>
                <p>@Model.Author</p>
            </div>
            <div>
                <p>Дата написания:</p>   
                <p>@Model.When.ToString("dd/MM/yyyy HH:mm")</p>
            </div> 
        </div>
    </div>
</div>
<div>
    @if(User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
       <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Изменить</a>
    }
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>
